/* 화면에서 사라지는 클래스임 ,웹접근성을 높임*/
* {
    box-sizing: border-box;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

/* 앞에 div는 생략가능  div 태그만 생략이 가능하다*/
div#header-center {
    margin: 0 auto;
    width: 1080px;
}

/* h1 태그는 가로의 100%로를 차지하니까 width를 주는것 
   width가 적용된것을 볼려면 background-color를 주면확인가능    */

#header-search a {
    text-decoration: none;
    vertical-align: middle;
}

#header-search h1 {
    width: 198px;
    height: 48px;
    display: inline-block;
    background: url(sp_search.png) -10px -5px no-repeat;
    position: relative;
    top: -3px;
}

#header-search h1 span {
    display: none;
}

#header-search>fieldset {
    width: 521px;
    height: 49px;
    display: inline-block;
    /* inline-block으로 마진을 없앰 */
    margin-left: 20px;
    padding: 12px 0 12px 10px;
    border: 2px solid #03cf5d;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;

}

#header-search>fieldset input {
    /*브라우저가 우리가 CSS적용안해도 기본으로 넣어주는 값을 제거 */
    border: none;
    /* tol right bottom left 전부적용됨 */
    padding: 0;
    /* 검색창을 클릭했을때 파란색으로 outline이나오는데 없애고싶을때 사용 , 궁금하면 이코드만지워보고 검색창 클릭*/
    outline: none;
    vertical-align: top;
    width: 405px;
    height: 23px;
}

#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;
    right: 0px;
    top: -2px;
}

#header-search fieldset button .search-image {
    /* inline block 이어야 width와 hegiht 값을 넣을수있음 */
    display: inline-block;
    width: 21px;
    height: 21px;
    /* 정중앙에 오게할람 49px = 21px+14px +14px  */
    margin: 14px;
    background: url(sp_search.png);
    background-position: -4px -60px;
    background-repeat: no-repeat;
}